@import url("https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap");

.svg21 {
	font-family: "Saira Stencil One", sans-serif;
	width: 100%; height: 100%;
}
.svg21 text {
	animation: stroke 3s infinite alternate;
	stroke-width: 2;
	stroke: #52B8CB;
	font-size: 100px;
}
@keyframes stroke {
	0%   {
		fill: rgba(204,11,11,0); stroke: rgba(82,184,203,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(204,11,11,0); stroke: rgba(82,184,203,1); }
	80%  {fill: rgba(204,11,11,0); stroke: rgba(82,184,203,1); stroke-width: 3; }
	100% {
		fill: rgba(204,11,11,1); stroke: rgba(82,184,203,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}

.wrapper {background-color: #FFFFFF};
